In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 데이터

In [88]:
file_path = "./data/"
df_kp20 = pd.read_csv(f"{file_path}KP2020.csv", encoding="cp949")
df_kp21 = pd.read_csv(f"{file_path}KP2021.csv", encoding="cp949")
df_npa20 = pd.read_csv(f"{file_path}NPA2020.csv", encoding="cp949")

## KP 데이터

변수 정리
   
RECV_DEPT_NM : 접수 부서 이름   
RECV_CPLT_DM : 접수 완료 날짜, 시간   
NPA_CL : 경찰철 코드   
EVT_STAT_CD	: 사건 상태 코드   
EVT_CL_CD : 사건 종별 코드   
RPTER_SEX : 신고자 성별   
HPPN_PNU_ADDR : 발생 주소   
HPPN_X : 위도   
HPPN_Y : 경도   
SME_EVT_YN : 동일 사건 여부

In [99]:
df_kp20.shape

(77077, 10)

In [138]:
df_kp20['RECV_DEPT_NM'].value_counts()

충남청         41814
대전청         34600
2지구대(충남)       95
대전역지구대         89
남대전지구대         70
대전동부           64
서대전지구대         60
대전둔산           55
대전유성           48
대전중부           47
대전서부           47
대전대덕           34
대전파출소          15
세종로파출소         14
세종             14
세종청            11
Name: RECV_DEPT_NM, dtype: int64

In [139]:
df_kp20['NPA_CL'].value_counts()

19    38810
13    34763
31     2753
15      215
18      156
8       109
20       61
21       38
11       32
9        29
16       22
17       22
23       18
22       18
10       11
24        8
12        8
14        4
Name: NPA_CL, dtype: int64

In [100]:
df_kp20.head()

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,충남청,20/12/01 01:43:07.000000000,19,10,305,1.0,충청남도 보령시 궁촌동(행정:대천4동) 369,126.598345,36.341537,Y
1,대전청,20/12/01 02:05:04.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
2,대전청,20/12/01 02:06:52.000000000,13,10,601,1.0,NaN,127.404663,36.341685,NaN
3,충남청,20/12/01 02:37:25.000000000,19,10,606,3.0,충청남도 보령시 천북면 하만리 628-10,126.524980,36.474390,N
4,충남청,20/12/01 08:17:50.000000000,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN

In [101]:
df_kp20.tail()

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
77072,충남청,20/12/31 01:18:16.000000000,19,10,302,2.0,충청남도 보령시 주교면 주교리(행정:주교면) 191-6,126.571002,36.387791,NaN
77073,충남청,20/12/31 01:17:45.000000000,19,10,501,3.0,NaN,NaN,NaN,NaN
77074,충남청,20/12/31 00:13:50.000000000,19,10,604,3.0,충청남도 아산시 온천동(행정:온양1동) 1498,127.000391,36.788411,NaN
77075,대전청,20/12/31 00:49:29.000000000,13,10,302,2.0,대전광역시 서구 갈마동(행정:갈마2동) 975,127.373351,36.348051,Y
77076,대전청,20/12/31 00:49:06.000000000,13,10,601,3.0,NaN,NaN,NaN,NaN

In [102]:
df_kp20.describe()

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_X,HPPN_Y
count,77077.000000,77077.000000,77077.000000,74658.000000,60313.000000,60313.000000
mean,16.686923,9.993721,446.935779,1.727290,127.198959,36.488481
std,4.042848,0.169827,146.713005,0.809894,0.801378,0.776456
min,8.000000,3.000000,104.000000,1.000000,36.301667,33.491534
25%,13.000000,10.000000,307.000000,1.000000,127.112222,36.341685
50%,19.000000,10.000000,501.000000,1.000000,127.352809,36.352871
75%,19.000000,10.000000,601.000000,2.000000,127.404663,36.748068
max,31.000000,10.000000,610.000000,3.000000,130.869092,127.105550

In [103]:
df_kp20.describe(include='object')

,RECV_DEPT_NM,RECV_CPLT_DM,HPPN_PNU_ADDR,SME_EVT_YN
count,77077,77077,47805,13442
unique,16,75271,28593,2
top,충남청,20/12/09 14:54:38.000000000,대전광역시 동구 판암동(판암1동) 458-6,Y
freq,41814,3,562,12902

In [104]:
df_kp21.shape

(2594060, 10)

In [105]:
df_kp21.head()

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,대전청,21/03/07 00:00:01.000000000,13,10,604,3.0,대전광역시 서구 둔산동 1122,127.373676,36.350975,Y
1,대전청,21/03/07 00:02:13.000000000,13,10,201,1.0,대전광역시 유성구 상대동(원신흥동) 469-9,127.339018,36.347420,NaN
2,대전청,21/03/07 00:00:33.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
3,대전청,21/03/07 00:01:18.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
4,대전청,21/03/07 00:01:43.000000000,13,10,308,1.0,대전광역시 중구 선화동 141-16,127.420455,36.330413,NaN

In [106]:
df_kp21.tail()

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
2594055,대전청,23/01/12 11:23:09.000000000,13,10,104,1.0,대전광역시 유성구 봉명동 (행정:원신흥동 ) 1016-7,127.344600,36.352272,NaN
2594056,충남청,23/01/16 11:59:47.000000000,19,10,307,2.0,충청남도 서산시 음암면 부장리(음암면 ) 560-4,126.514047,36.785626,NaN
2594057,충남청,23/01/16 11:58:54.000000000,19,10,601,3.0,NaN,NaN,NaN,NaN
2594058,충남청,23/01/14 01:00:47.000000000,19,10,601,3.0,NaN,NaN,NaN,NaN
2594059,대전청,23/01/14 01:22:31.000000000,13,10,606,1.0,NaN,127.404663,36.341685,NaN

In [107]:
df_kp21.describe()

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_X,HPPN_Y
count,2.594060e+06,2.594060e+06,2.594060e+06,2.570166e+06,1.899659e+06,1.899659e+06
mean,1.700251e+01,9.992336e+00,4.579272e+02,1.920799e+00,1.271893e+02,3.649330e+01
std,3.983839e+00,1.952455e-01,1.461437e+02,8.761132e-01,3.173263e-01,2.720425e-01
min,8.000000e+00,1.000000e+00,1.010000e+02,1.000000e+00,3.647666e+01,3.321955e+01
25%,1.300000e+01,1.000000e+01,3.070000e+02,1.000000e+00,1.270993e+02,3.634168e+01
50%,1.900000e+01,1.000000e+01,5.010000e+02,2.000000e+00,1.273364e+02,3.635569e+01
75%,1.900000e+01,1.000000e+01,6.010000e+02,3.000000e+00,1.274047e+02,3.677263e+01
max,3.100000e+01,1.000000e+01,6.100000e+02,3.000000e+00,1.308374e+02,1.272489e+02

In [108]:
df_kp21.describe(include='object')

,RECV_DEPT_NM,RECV_CPLT_DM,HPPN_PNU_ADDR,SME_EVT_YN
count,2594060,2594060,1521966,514937
unique,25,2516819,488370,2
top,충남청,22/09/04 04:41:51.000000000,전라북도 김제시 상동동(검산동) 536,Y
freq,1548809,9,12308,479386

## KP 데이터 병합

In [109]:
df_kp = pd.concat([df_kp20, df_kp21], ignore_index=True)
df_kp.shape

(2671137, 10)

In [110]:
df_kp20.shape[0] + df_kp21.shape[0]

2671137

In [111]:
df_kp

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,충남청,20/12/01 01:43:07.000000000,19,10,305,1.0,충청남도 보령시 궁촌동(행정:대천4동) 369,126.598345,36.341537,Y
1,대전청,20/12/01 02:05:04.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
2,대전청,20/12/01 02:06:52.000000000,13,10,601,1.0,NaN,127.404663,36.341685,NaN
3,충남청,20/12/01 02:37:25.000000000,19,10,606,3.0,충청남도 보령시 천북면 하만리 628-10,126.524980,36.474390,N
4,충남청,20/12/01 08:17:50.000000000,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN
...,...,...,...,...,...,...,...,...,...,...
2671132,대전청,23/01/12 11:23:09.000000000,13,10,104,1.0,대전광역시 유성구 봉명동 (행정:원신흥동 ) 1016-7,127.344600,36.352272,NaN
2671133,충남청,23/01/16 11:59:47.000000000,19,10,307,2.0,충청남도 서산시 음암면 부장리(음암면 ) 560-4,126.514047,36.785626,NaN
2671134,충남청,23/01/16 11:58:54.000000000,19,10,601,3.0,NaN,NaN,NaN,NaN
2671135,충남청,23/01/14 01:00:47.000000000,19,10,601,3.0,NaN,NaN,NaN,NaN
2671136,대전청,23/01/14 01:22:31.000000000,13,10,606,1.0,NaN,127.404663,36.341685,NaN

### KP 데이터 파생변수

In [112]:
df_kp['RECV_CPLT_DM'][0]

'20/12/01 01:43:07.000000000'

In [113]:
df_kp['RECV_CPLT_DM'] = df_kp['RECV_CPLT_DM'].str.split('.').str[0]

In [114]:
df_kp['RECV_CPLT_DM'][0]

'20/12/01 01:43:07'

In [115]:
df_kp['RECV_CPLT_DM'] = pd.to_datetime(df_kp['RECV_CPLT_DM'], format="%y/%m/%d %H:%M:%S")

In [116]:
df_kp["RECV_CPLT_DM"].head(1)

0   2020-12-01 01:43:07
Name: RECV_CPLT_DM, dtype: datetime64[ns]

In [122]:
df_kp = df_kp.drop(labels='RECV_DEPT_NM', axis=1)
df_kp.head(1)

,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,2020-12-01 01:43:07,19,10,305,1.0,충청남도 보령시 궁촌동(행정:대천4동) 369,126.598345,36.341537,Y

## NPA 데이터

변수 정리
   
RECV_CPLT_DT : 접수 완료 날짜   
RECV_CPLT_TM : 접수 완료 시간   
NPA_CL : 경찰청 코드   
EVT_STAT_CD : 사건 상태 코드   
EVT_CL_CD : 사건 종별 코드   
RPTER_SEX : 신고자 성별   
HPPN_OLD_ADDR : 발생 주소   
HPPN_X : 위도   
HPPN_Y : 경도   
SME_EVT_YN : 동일 사건 여부

In [89]:
df_npa20.shape

(1178244, 10)

In [90]:
df_npa20.head()

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,20200101,7,13,10,501,2,대전광역시 중구 목동(행정:목동) 360,127.409270,36.333010,Y
1,20200101,132,13,10,501,1,대전광역시 중구 대흥동(대흥동) 499-1,127.421295,36.325575,NaN
2,20200101,39,13,10,501,1,NaN,127.404663,36.341685,NaN
3,20200101,110,13,10,601,3,NaN,0.000000,0.000000,NaN
4,20200101,342,13,10,601,1,NaN,127.404663,36.341685,NaN

In [91]:
df_npa20["RECV_CPLT_TM"] = df_npa20["RECV_CPLT_TM"].astype('str')

In [92]:
df_npa20["RECV_CPLT_TM"] = df_npa20["RECV_CPLT_TM"].str.rjust(width=6, fillchar='0')

In [93]:
df_npa20.head(1)

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,20200101,000007,13,10,501,2,대전광역시 중구 목동(행정:목동) 360,127.40927,36.33301,Y

In [96]:
df_npa20['RECV_CPLT_DM'] = df_npa20['RECV_CPLT_DT'].astype('str') + df_npa20['RECV_CPLT_TM'].astype('str')

In [97]:
df_npa20['RECV_CPLT_DM'] = pd.to_datetime(df_npa20['RECV_CPLT_DM'])

In [98]:
df_npa20['RECV_CPLT_DM'].head(1)

0   2020-01-01 00:00:07
Name: RECV_CPLT_DM, dtype: datetime64[ns]

In [ ]:
df_npa20 = df_npa20.drop(labels=['RECV_CPLT_DT', 'RECV_CPLT_TM'], axis=1)

In [126]:
df_npa20.shape

(1178244, 9)

In [127]:
df_kp.shape

(2671137, 9)

## KP, NPA 데이터 병합

In [128]:
df = pd.concat([df_kp, df_npa20], ignore_index=True)

In [129]:
df.head()

,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,HPPN_OLD_ADDR
0,2020-12-01 01:43:07,19,10,305,1.0,충청남도 보령시 궁촌동(행정:대천4동) 369,126.598345,36.341537,Y,NaN
1,2020-12-01 02:05:04,13,10,601,3.0,NaN,127.404663,36.341685,NaN,NaN
2,2020-12-01 02:06:52,13,10,601,1.0,NaN,127.404663,36.341685,NaN,NaN
3,2020-12-01 02:37:25,19,10,606,3.0,충청남도 보령시 천북면 하만리 628-10,126.524980,36.474390,N,NaN
4,2020-12-01 08:17:50,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,NaN

In [130]:
df.shape

(3849381, 10)

In [131]:
df = df.drop_duplicates()

In [132]:
df.shape

(3846630, 10)

In [133]:
df["Year"] = df["RECV_CPLT_DM"].dt.year
df["Month"] = df["RECV_CPLT_DM"].dt.month
df["Day"] = df["RECV_CPLT_DM"].dt.day
df["Day of Week"] = df["RECV_CPLT_DM"].dt.day_of_week
df["Hour"] = df["RECV_CPLT_DM"].dt.hour

In [134]:
df.head()

,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,HPPN_OLD_ADDR,Year,Month,Day,Day of Week,Hour
0,2020-12-01 01:43:07,19,10,305,1.0,충청남도 보령시 궁촌동(행정:대천4동) 369,126.598345,36.341537,Y,NaN,2020,12,1,1,1
1,2020-12-01 02:05:04,13,10,601,3.0,NaN,127.404663,36.341685,NaN,NaN,2020,12,1,1,2
2,2020-12-01 02:06:52,13,10,601,1.0,NaN,127.404663,36.341685,NaN,NaN,2020,12,1,1,2
3,2020-12-01 02:37:25,19,10,606,3.0,충청남도 보령시 천북면 하만리 628-10,126.524980,36.474390,N,NaN,2020,12,1,1,2
4,2020-12-01 08:17:50,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,NaN,2020,12,1,1,8

In [135]:
df = df.sort_values('RECV_CPLT_DM')

In [136]:
df.head()

,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,HPPN_OLD_ADDR,Year,Month,Day,Day of Week,Hour
2671137,2020-01-01 00:00:07,13,10,501,2,NaN,127.409270,36.333010,Y,대전광역시 중구 목동(행정:목동) 360,2020,1,1,2,0
2673005,2020-01-01 00:00:08,19,10,508,1,NaN,127.420740,36.640520,Y,충청북도 청주시 흥덕구 비하동(행정:강서1동) 300,2020,1,1,2,0
2673004,2020-01-01 00:00:29,19,10,304,2,NaN,126.631965,36.886277,NaN,충청남도 당진시 대덕동(행정:당진2동) 1442,2020,1,1,2,0
2671139,2020-01-01 00:00:39,13,10,501,1,NaN,127.404663,36.341685,NaN,NaN,2020,1,1,2,0
2673003,2020-01-01 00:00:51,19,10,201,1,NaN,126.695258,36.900175,NaN,충청남도 당진시 송악읍 기지시리(송악읍) 510,2020,1,1,2,0